.activitieBox {
    width: 100%;
    display: grid;
    grid-template-columns: 10% 90%;
    padding: 10px 0;
    border-bottom: 1px solid #777;
}

.activitieImgBox {
    width: 80px;
    height: 80px;
}

.activitieImgBox img {
    width: 100%;
}

.activitieTitle {
    display: grid;
    align-content: space-between;
    cursor: pointer;
}

.activitieTitleFirst {
    display: grid;
    grid-template-columns: 15% 15% 66%;
    grid-column-gap: 2%;
}

.activitieTitleFirst div:nth-child(1) {
    text-align: center;
    border: 1px solid #C806AF;
}

.activitieTitleFirst div:nth-child(2) {
    text-align: center;
    background: #C806AF;
    color: #fff;
}

.activitieTitleFirst div:nth-child(3) {
    color: #C98B4F
}

.activitieInfoImg {
    width: 600px;
    height: 650px;
    margin: 0 auto;
}

.activitieInfoImg img {
    width: 100%;
    height: 100%;
}

.activitieInfoimgListBox {
    display: grid;
    grid-template-columns: repeat(4, 23.5%);
    grid-column-gap: 2%;
    grid-template-rows: 200px;
}

.activitieInfoimgListBox img {
    width: 100%;
    height: 100%;
}

.activitieInfoTitle {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.activitieInfo {
    display: grid;
    align-items: center;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
    border: 1px solid #999;
}

.activitieInfo>div:nth-child(2) {
    align-items: center;
}

.activitieInfo:nth-child(2)>div:nth-child(2) {
    display: flex;
    align-items: center;
}

.linkStyle {
    color: #1890ff;
    cursor: pointer;
}

.activitieInfo>div:nth-child(1) {
    border-right: 1px solid #999;
    background: #eee;
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100%;
}

.activitieInfo>div:nth-child(2) {
    text-indent: 10px;
}

.activitieInfoContent {
    display: grid;
    padding: 5px;
    margin: 10px 0;
    grid-template-columns: 20% 80%;
    align-items: center;
}

.activitieInfoContent>div:nth-child(1) {
    width: 80px;
    height: 80px;
    font-size: 40px;
    border-radius: 50%;
    overflow: hidden;
    background: #eee;
    margin: 0 auto;
    display: grid;
    align-items: center;
    justify-items: center;
}

.activitieInfoContent>div:nth-child(2)>div:nth-child(1) {
    font-size: 16px;
    font-weight: bold;
}

.shopBox {
    display: flex;
}

.shopBox div {
    margin: 0 10px 0 0;
}

.machineBox {
    height: 30px;
    width: 30px;
}

.machineBox img {
    width: 100%;
    height: 100%;
}

.textareaStyle {
    width: 100%;
    height: 100px;
    resize: none;
    border: none;
    background: #fff;
    overflow: hidden;
}

.activeInfoBox .ant-picker-calendar-header {
    display: none;
}