.adartsShopIndexSearchBox {
    background: #E2E2E2;
    padding: 10px;
}

.adartsShopIndexTitleBox {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #E2E2E2;
}

.adartsShopIndex {
    padding: 5px;
}

.adartsShopIndex .AllRightBox {
    margin: 10px 0;
    border-bottom: 2px solid #eee;
}

.shopActivityBox .AllRightBox {
    margin: 10px 0;
    border-bottom: 2px solid #eee;
}

.shopActivityBox {
    padding: 5px;
}

.adartsShopIndex .iconImg {
    display: flex;
}

.adartsShopIndex .iconImg img {
    margin: 0 5px 0 0;
}

.adartsShopIndex .shopMachineType {
    display: flex;
}

.adartsShopIndex .shopMachineType div {
    margin: 0 5px 0 0;
}

.tips {
    display: flex;
    align-items: center;
}

.tips div {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F5872A;
    font-size: 20px;
    border: 2px solid #000;
    cursor: pointer;
    border-radius: 5px;
}

.adartsShopThemeBox {
    display: flex;
    flex-wrap: wrap;
}

.adartsShopThemeInfo {
    width: 48%;
    margin: 5px;
    padding: 10px;
    border: 1px solid #A3A3A3;
    border-radius: 5px;
    box-shadow: 0 0 5px 0px;
    cursor: pointer;
}

.adartsShopThemeInfo:hover {
    box-shadow: 0 0 5px 0px #1890ff;
}

.adartsShopThemeIbox {
    display: flex;
    justify-content: space-around;
}

.adartsShopThemeIcon {
    width: 50px;
    height: 50px;
}

.adartsShopThemeIcon img {
    width: 100%;
    height: 100%;
}

.adartsShopThemeimg {
    width: 140px;
    height: 140px;
}

.adartsShopThemeimg img {
    width: 100%;
    height: 100%;
}

.adartsShopThemeShopBox {
    font-weight: bold;
}

.shopInfoBox>div:nth-child(1) {
    border-bottom: 2px solid #eee;
    padding: 20px 0;
}

.shopInfoImgBox {
    height: 100px;
    border-radius: 10px;
    overflow: hidden;
}

.shopInfoImgBox img {
    width: 100%;
    height: 100%;
}

.shopInfoContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10px;
}

.shopInfoContent div:nth-child(1) {
    font-size: 30px;
    font-weight: bold;
}

.shopInfoContent div:nth-child(2) {
    display: flex;
    margin: 0 10px 0 0;
}

.shopInfoContent div:nth-child(2) div:nth-child(2) {
    color: #3D84C0;
    border: 1px solid #3D84C0;
    padding: 5px;
}

.shopInfoContent div:nth-child(2) div:nth-child(3) {
    color: #E7B37C;
    border: 1px solid #E7B37C;
    padding: 5px;
}

.shopInfoPhoneBox {
    height: 32px;
    line-height: 32px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.shopInfoTitle {
    font-size: 30px;
    font-weight: bold;
}

.shopInfoOtherBox {
    height: 180px;
    margin-right: 10px;
}

.shopInfoOtherBox img {
    width: 100%;
    height: 100%;
}

.shopInfoOther {
    padding: 10px;
    background: #DBF4F8;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.shopInfoOther>div:nth-child(1) {
    background: #fff;
    text-align: center;
    padding: 10px;
}

.shopInfoLabelBox>div {
    display: grid;
    grid-template-columns: 20% 80%;
    border-top: 2px solid #eee;
}

.shopInfoLabel {
    background: #F5F5F5;
    padding: 10px;
    display: flex;
    align-items: center;
}

.shopInfoLabelBox>div>div:nth-child(2) {
    padding: 10px;
    display: flex;
    align-items: center;
}
