@media screen and (max-width: 700px) {
    .headBox {
        width: auto !important;
    }
    .MobileIcon {
        display: flex !important;
        justify-content: center;
        align-items: center;
    }
    .Mobile .ant-menu-submenu-title {
        width: auto;
    }
    .Mobile-Login-Box .Mobile-Login {
        background: #2a2c3e;
        padding: 9px 15px;
        color: #fff;
        font-size: 18px;
        cursor: pointer;
    }
    .Mobile-Login-Box .Mobile-Menus div {
        padding: 10px;
        font-size: 16px;
        border-bottom: 1px solid #dfdede;
    }
    .containerBox {
        width: auto;
        position: relative;
    }
    .loginBox {
        width: auto !important;
    }
    .InWebDisplay {
        display: block;
    }
    .InMobileDisplay {
        display: none;
    }
    .new {
        display: none;
    }
    .newsOther {
        width: 100%;
    }
    .All {
        display: block;
    }
    .AllLeft,
    .AllRight {
        width: auto;
    }
    .newsActiveClass,
    .newsDefaultClass {
        width: 25%;
    }
    .Allcontainer {
        min-height: auto !important;
    }
    .AllLeft .Allcontainer .container {
        width: 100%;
        height: auto;
    }
    .newsImgBox {
        height: auto;
    }
    .container {
        display: grid !important;
        grid-template-columns: 100px 200px;
        grid-template-rows: 100px;
    }
    .AllRight .Allcontainer {
        height: auto;
    }
    .activity {
        width: auto;
    }
    .activityOtherBox {
        display: none;
    }
    .ant-picker-calendar {
        position: relative;
        margin-top: 30px;
    }
    .activity .ant-picker-calendar-header {
        top: -40px;
    }
    .ant-picker-calendar-header .ant-picker-calendar-month-select {
        margin: 0;
    }
    .activity .ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date-content {
        height: 30px;
    }
    .videoBG {
        padding: 0;
    }
    .videoContainer video {
        width: 100%;
    }
    .footer {
        padding: 0;
    }
    .userName {
        width: auto;
    }
    .userCardBox {
        height: 240px;
    }
    .editorBox {
        width: 140px;
        height: 140px;
    }
    .editorBox canvas {
        width: 140px !important;
        height: 140px !important;
    }
    .userCard {
        width: auto;
    }
    .cardStyleBox {
        width: auto;
        height: 100%;
    }
    .myPage {
        width: auto;
    }
    .AdartsCardImg {
        display: none;
    }
    .AdartsCardInfo {
        justify-content: center;
    }
    .AdartsCardBtnBox {
        text-align: center;
    }
    .AdartsCardResultBox {
        text-align: center;
    }
    .AdartsCardBtnBox :first-child {
        padding: 0;
    }
    .AdartsCardBox {
        grid-template-columns: 64% 36% !important;
        grid-column-gap: 0% !important;
    }
    .news .newsImgBox {
        width: 150px !important;
        height: 120px !important;
    }
    .Mobile-Tab {
        height: 40px;
        line-height: 40px;
        background: #eee;
        text-indent: 5px;
        font-size: 25px;
    }
    .PlayInfoBox {
        width: auto;
        padding: 0;
    }
    .AllImgBox img {
        width: 80px;
        height: 80px;
    }
    .shopInfoContent div:nth-child(1) {
        font-size: 14px !important;
    }
    .shopInfoLabelBox>div {
        grid-template-columns: 30% 70% !important;
    }
    .shopInfoOtherBox {
        height: auto !important;
        margin: 0;
    }
    .ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date-content {
        height: 30px;
    }
    .Ranting .ant-tabs-nav-list {
        width: auto !important;
    }
    .recommendBox {
        grid-template-columns: 48% 48% !important;
    }
    .recommendBox img {
        height: 50% !important;
    }
    .Mobile-Gift {
        position: absolute;
        right: 0px;
        top: -35px;
    }
    .giftBox div {
        height: 20px !important;
        width: 20px !important;
        line-height: 20px !important;
        font-size: 14px!important;
    }
    .templateBox {
        padding: 10px;
    }
    .ShopPropSettingImg {
        height: 150px !important;
    }
    .TemplateBox {
        grid-template-columns: 45% 20% 30% !important;
    }
    .ShopProp {
        width: 100% !important;
    }
    .myListBG {
        grid-template-columns: 48% 48% !important;
    }
    .InfoDomInfo>div:nth-child(2) {
        width: auto;
        height: auto;
    }
    .dartsContentBox {
        grid-template-columns: 48% 50% !important;
        grid-column-gap: 2%;
    }
    .dartsInfo {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .dartsContent,
    .dartsInfoTitle {
        word-break: break-all;
    }
    .worldImgBox {
        height: 150px;
    }
    .playerDes {
        width: auto;
        padding: 10px;
    }
    .playerBox div:nth-child(1) {
        height: 130px;
    }
    .playerImgBox {
        grid-template-columns: repeat(3, 33%);
        grid-template-rows: auto;
    }
    .playerImgBox div:nth-child(1) {
        grid-column-end: auto;
    }
    .dartsBox {
        height: auto;
    }
    .datrtsTitleBox div {
        font-size: 14px;
    }
    .playerProductBox {
        grid-template-rows: auto;
    }
    .activityImg {
        width: 15px;
        height: 15px;
    }
    .ant-badge-count {
        min-width: 10px;
        height: 10px;
        line-height: 10px;
        padding: 0px;
        right: 9px;
    }
    .activitieBox {
        grid-template-columns: 25% 75% !important;
    }
    .activitieTitleFirst {
        grid-template-columns: 35% 25% 40% !important;
    }
    .ant-input-suffix {
        display: none;
    }
    .NewsBox div:first-child {
        padding-left: 0px !important;
    }
    .userInfoGame {
        width: 150% !important;
        position: relative;
        left: -40px;
    }
    .AdartsCardAddBox {
        display: grid;
        grid-template-columns: 30% 70%;
    }
    .countryLanguageModal {
        width: 100% !important;
    }
    .countryLanguageBox {
        grid-template-columns: repeat(2, 48%) !important;
        grid-column-gap: 4% !important;
    }
}